@import "tailwindcss";

@theme {
  --color-primary-100: #ffeec2;
  --color-primary-200: #ffc89c;
  --color-primary-300: #fc9d83;
  --color-primary-400: #e2846a;
  --color-primary-500: #d83a0e;
  --color-primary-700: #923921;
  --color-primary-800: #782008;
  --color-primary-900: ##5e0000;

  --color-secondary-300: #f7df88;
  --color-secondary-400: #f1d570;
  --color-secondary-500: #f2cb40;
  --color-secondary-700: #ddb527;
  --color-secondary-800: #d7ab0f;

  --color-contrast-300: #66c6ff;
  --color-contrast-500: #20a4f3;
  --color-contrast-800: #157ab7;

  --color-error-300: #fe6776;
  --color-error-500: #c20114;
  --color-error-800: #790612;

  --color-neutral-50: #f8fafc;
  --color-neutral-100: #f1f5f9;
  --color-neutral-200: #e2edf0;
  --color-neutral-300: #cbd7e1;
  --color-neutral-400: #94a7b8;
  --color-neutral-500: #647487;
  --color-neutral-600: #485a6a;
  --color-neutral-700: #344556;
  --color-neutral-800: #1e2c38;
  --color-neutral-900: #0f1a29;

  --color-text-main: #181e21;
  --color-text-light: #454d4f;
  --color-text-black: #181e21;
  --color-text-white: #f9fbfb;

  --font-text: var(--font-biryani), sans-serif;
  --font-title: var(--font-newsflash), serif;
}

@layer base {
  * {
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      display: block;
      height: 0.5rem;
      width: 0.5rem;
      overflow: auto;
      background-color: var(--color-neutral-100);

      &-thumb {
        transition: 0.5s;
        background-color: var(--color-neutral-400);
        &:hover {
          background-color: var(--color-neutral-500);
        }
      }
    }
  }

  body,
  input,
  textarea,
  a,
  button {
    font-family: var(--font-text);
    color: var(--color-text-main);
    font-size: var(--text-base);
    letter-spacing: var(--tracking-normal);
  }

  caption {
    font-size: var(--text-xs);
    letter-spacing: var(--tracking-tight);
  }

  body {
    background-color: var(--color-neutral-200);
    min-height: 100vh;
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-title);
  }

  h1 {
    font-size: var(--text-4xl);
    font-weight: var(--font-weight-normal);
    letter-spacing: var(--tracking-wider);
  }

  h2 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-normal);
    letter-spacing: var(--tracking-wider);
  }

  h3 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-normal);
    letter-spacing: var(--tracking-wider);
  }

  h4 {
    font-size: var(--text-base);
    font-weight: var(--font-weight-extrabold);
    letter-spacing: var(--tracking-wide);
  }

  ul {
    list-style: none;
  }
}

@layer utilities {
  /* For Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* For IE and Edge */
  .no-scrollbar {
    -ms-overflow-style: none;
  }

  /* For Firefox */
  .no-scrollbar {
    scrollbar-width: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary-100: #ffefff;
    --color-primary-200: #ffc9ff;
    --color-primary-300: #cc94eb;
    --color-primary-400: #b97adc;
    --color-primary-500: #ab3be8;
    --color-primary-700: #822cb0;
    --color-primary-800: #6f12a1;
    --color-primary-900: #31006e;

    --color-secondary-300: #ea8276;
    --color-secondary-400: #df6d60;
    --color-secondary-500: #eb4d3b;
    --color-secondary-700: #bd3020;
    --color-secondary-800: #b21b0a;

    --color-contrast-300: #91ff85;
    --color-contrast-500: #58eb47;
    --color-contrast-800: #2dad1f;

    --color-error-300: #f47180;
    --color-error-500: #ef233c;
    --color-error-800: #8e0b1a;

    --color-neutral-50: #151226;
    --color-neutral-100: #252334;
    --color-neutral-200: #3e3b4f;
    --color-neutral-300: #514c67;
    --color-neutral-400: #6e6783;
    --color-neutral-500: #9f9daf;
    --color-neutral-600: #d1cfdd;
    --color-neutral-700: #e3e1ef;
    --color-neutral-800: #f1f1f9;
    --color-neutral-900: #f9f8fc;

    --color-text-main: #f9fbfb;
    --color-text-light: #bec7ca;
    --color-text-black: #181e21;
    --color-text-white: #f9fbfb;
  }
}
